/data/*
!/data/testing
!/data/generation
!/data/Makefile
/Movi
/pfp-thresholds
/ropebwt3
slurm-*.out*
batch*Slurm
batchMakeTest
test.in
settings.json
a.out
*.optbwtrl
*_StructTree.html
*.rlcp
TempData
